.blue-background{
	background-color: blue;
}
.red-background{
	background-color: red;
}

.slider h5{
	font-size: 1.5em;

}
.slides{
	background: none !important;
}

.card{
	text-align: center;
	padding: 15px !important;
/*	margin: 1px !important;
*/
	margin-bottom: 0;
	}

.light-blue-ak-bg{
	background-color: #5ac8e3;
}

.smaller-video{
	height: 220px!important;
}

.player-image{
	position: absolute;
	top: 40%;
	left: 40%;
	opacity: 90%;
}

.player-image:hover{
	position: absolute;
	top: 40%;
	left: 40%;
	opacity: 100%;
}

.active{
	display: block;
}

.offscreen{
	display: none;
}

#mini-video{
	position: absolute;
	top: 0;
	height: 100%;
	z-index: -1000;
}

a{
	text-decoration: underline;
	color: white;
}
